<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:/Users/PC/Desktop/internal.txt">">

	<extensions>
		<!-- Enable NLog.Web for ASP.NET Core -->
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- Define various log targets -->
	<targets>
		<!-- Write logs to file -->
		<target xsi:type="File" name="allfile" fileName="C:\Users\rajae\source\repos\Projet\Projet\logs\nlog-all-${shortdate}.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="File" name="ownFile" fileName="c:\temp\nlog-own-${shortdate}.log"
                    layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

		<!-- Cible pour les erreurs métier -->
		<target xsi:type="File" name="BusinessErrorLogFile"
               fileName="chemin/vers/le/fichier-de-logs-business-error.log"
               layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
		
		<target xsi:type="File" name="infoFile" fileName="C:\Users\rajae\source\repos\Projet\Projet\logs\nlog-info-${shortdate}.log"
        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />


		

	</targets>


	<rules>
		<!-- Exclure la source Microsoft.AspNetCore.Server.Kestrel.Http2 -->
		<logger name="Microsoft.AspNetCore.Server.Kestrel.Http2" minlevel="Trace" writeTo="ownFile" final="true" />
		<!-- All logs, including from Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="Projet.*" minlevel="Info" writeTo="infoFile" />
		

		<!-- Skip Microsoft logs - no writeTo attribute -->
		<logger name="Microsoft.*" minlevel="Trace" final="true" enabled="false" />

		<!-- Log everything to ownFile -->
		<logger name="*" minlevel="Trace" writeTo="ownFile" />

		<!-- Diriger les erreurs métier vers la cible "BusinessErrorLogFile" -->
		<logger name="BusinessError" minlevel="Error" writeTo="BusinessErrorLogFile,ownFile" final="true" enabled="true" />


	</rules>
</nlog>
