@model Projet.Areas.Admin.Models.Departement

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Coordonnateur/Views/Shared/_Admin.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow p-3 mb-5 bg-white rounded mt-3">
            <div class="card-body">
                <h3 class="card-subtitle text-center text-danger">Êtes-vous sûr de vouloir supprimer ceci ?</h3>
                <div class="card-text">
                    <hr />
<div>
    <h4>Departement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomDepartementt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomDepartementt)
        </dd>
    </dl>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="IdDepartement" />
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                            <a class="btn btn-secondary ml-2" href="@Url.Action("First", "Departements", new { area = "Responsable" })">Annuler</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
