@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Responsable/Views/Shared/_Admin.cshtml";
}

<select class="form-select" id="multiple-select-field" data-placeholder="Choose anything" multiple>
    <option>Christmas Island</option>
    <option>South Sudan</option>
    <option>Jamaica</option>
    <option>Kenya</option>
    <option>French Guiana</option>
    <option>Mayotta</option>
    <option>Liechtenstein</option>
    <option>Denmark</option>
    <option>Eritrea</option>
    <option>Gibraltar</option>
    <option>Saint Helena, Ascension and Tristan da Cunha</option>
    <option>Haiti</option>
    <option>Namibia</option>
    <option>South Georgia and the South Sandwich Islands</option>
    <option>Vietnam</option>
    <option>Yemen</option>
    <option>Philippines</option>
    <option>Benin</option>
    <option>Czech Republic</option>
    <option>Russia</option>
</select>

<select class="form-multi-select" id="ms1" multiple data-coreui-search="true">
    <option value="0">Angular</option>
    <option value="1">Bootstrap</option>
    <option value="2">React.js</option>
    <option value="3">Vue.js</option>
    <optgroup label="backend">
        <option value="4">Django</option>
        <option value="5">Laravel</option>
        <option value="6">Node.js</option>
    </optgroup>
</select>

<select id="multiSelect"></select>
<script>
    const myMultiSelect = document.getElementById('multiSelect')

    if (myMultiSelect) {
        new coreui.MultiSelect(myMultiSelect, {
            name: 'multiSelect',
            options: [
                {
                    value: 0,
                    text: 'Angular'
                },
                {
                    value: 1,
                    text: 'Bootstrap',
                    selected: true
                },
                {
                    value: 2,
                    text: 'React.js',
                    selected: true
                },
                {
                    value: 3,
                    text: 'Vue.js'
                },
                {
                    label: 'backend',
                    options: [
                        {
                            value: 4,
                            text: 'Django'
                        },
                        {
                            value: 5,
                            text: 'Laravel'
                        },
                        {
                            value: 6,
                            text: 'Node.js',
                            selected: true
                        }
                    ]
                }
            ],
            search: true
        })
    }
</script>
