@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .login-card {
        margin-top: 100px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 align-items-center">
            <div class="card shadow p-3 mb-5 bg-white rounded login-card">
                <div class="card-body">
                    <h2 class="title text-center mb-4"></h2>
                    <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Reset Password</button>
        </form>
    </div>
</div>
        </div>
    </div>
</div>
      
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
