@model Projet.Areas.Responsable.Models.Grade

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Responsable/Views/Shared/_Admin.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow p-3 mb-5 bg-white rounded mt-3">
            <div class="card-body">
                <h3 class="card-subtitle text-center text-danger">Êtes-vous sûr de vouloir supprimer ceci ?</h3>
                <div class="card-text">
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
           Grade
        </dt>
        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.GradeNomComplet)
           
        </dd>
                        <dt class="col-sm-4">
     Abréviation
        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.GradeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GradeId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
     <a class="btn btn-secondary ml-2" href="@Url.Action("Index","Grades", new { area = "Responsable" })">Annuler</a>

    </form>
</div>
            </div>
        </div>
    </div>
</div>
