@model Projet.Areas.Responsable.Models.Niveau
@addTagHelper *, AuthoringTagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Responsable/Views/Shared/_Admin.cshtml";
}


<div class="row">
    <!-- Utilisation de la classe "mx-auto" pour centrer la colonne horizontalement -->
    <div class="card shadow p-3 mb-5 bg-white rounded mt-3 custom-card mx-auto" style="max-width: 600px; overflow-y: auto;">
        <div class="card-body">
            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomNiveau" class="control-label">Niveau</label>
                <input asp-for="NomNiveau" class="form-control" required/>
                <span asp-validation-for="NomNiveau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFiliere" class="control-label"> Filiere</label>
                <select asp-for="IdFiliere" class ="form-control" asp-items="ViewBag.IdFiliere" required></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
                    <a class="btn btn-secondary ml-2" href="@Url.Action("Index", "Niveaux", new { area = "Responsable" })">Annuler</a>
            </div>
        </form>
    </div>
</div>


</div>